.Overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}

.Container-top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
}

/* .Container-left {
  border-style:solid;
  border-color: black;
  border: solid black;
} */

.Container-right {
  margin-left: 2%;
  width: 350px;
}

.Container-bottom {
  width: 60%;
  justify-content: center;
  margin:3%;
}

.StarRating {
  display: flex;
  flex-direction: row;
  color: rgb(63, 62, 62);
  font-size: small;
}

.Reviews {
  color: gray;
  font-size: small;
  align-self: center;
  text-decoration: underline;
}

.Category {
  color: rgb(74, 73, 73);
  font-size: small;
}

.price {
  color: rgb(74, 73, 73);
  font-size: medium;
}

.sale_price {
  color: red;
  font-size:large;
  margin-right: 5px;
}

.Detail {
  display: flex;
  flex-direction: row;
}

.SloganAndDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  border-right: solid  rgb(70, 68, 68);
  width:70%;
}

.Slogan {
  color: rgb(70, 68, 68);
  margin-bottom: 5%;
  font-weight: bold;
}

.Description {
  font-size:smaller;
  color: grey;
}

.Features {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  font-size:smaller;
  color: grey;
}


.SizeQuantityCart {
  width: 320px;
}

.SizeAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Size {
  margin-right: 5%;
  width: 65%;
  height: 40px;
}

.SizeSelector {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: medium;
  color: rgb(54, 52, 52);
  border: solid grey;
}

.Quantity {
  width: 30%;
}

.QuantitySelector {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: medium;
  color: rgb(54, 52, 52);
  border: solid grey;
}

.Cart {
  width: 100%;
  height: 40px;
  margin-top: 7%;
  display: flex;
  flex-direction: row;
}

.AddToCart {
  margin-right: 5%;
  width: 75%;
  height: 40px;
  font-size: medium;
  color:  rgb(54, 52, 52);
  border: solid grey;
}

.Star {
  width: 20%;
  height: 40px;
  border: solid grey;
  font-size: medium;
  color:  rgb(54, 52, 52);
  text-align: center;
  padding-top: 2%;
}



.StyleBold {
  font-weight: bold;
}

.StyleList {
  margin-top: 2%;
  width: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.styleLable {
  margin-top: 10px;
  width:75px;
}

.stylePhoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.checkboxLable {
  /* border: solid black; */
  padding-top:20%;
  padding-bottom: 20%;
}

.checkbox {
  position: relative;
  vertical-align: top;
}




