* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  /* width: 30%; */
  /* width:40vw; */
  width: 100%;
  /* border-style: dashed;
  border-color: black; */
}

/* Hide the images by default */
.mySlides {
  display:block;
  width: 100%;
  /* border-style: dashed;
  border-color: black; */
}

.mySlidesFull {
  margin-top: 5%;
  width: 30%;
  margin-left: 30vw;
  /* display: flex; */
  justify-content: center;
}

.imageContainer {
  width:40vw;
  height: 33vw;

  /* display: flex; */
  overflow: hidden;
}

.slideImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  /* border-style: dashed;
  border-color: black; */
  /* cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in; */
  cursor: zoom-in;
  padding: 0px;
}

.slideImageFull {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
  cursor: crosshair;
}


/* .mySlidesFull img {
  transform-origin: center center;
  object-fit: cover;
} */

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.nextFull {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  right: 15%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 15%;
  border-radius: 3px 0 0 3px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  position:relative;
  left: 40%;
  top: 20%;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.upFull {
  position:relative;
  left: 40%;
  top: 20%;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.down {
  position: relative;
  left: 40%;
  top: 20%;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.downFull {
  position: relative;
  left: 40%;
  top: 20%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.upArrow:hover,
.downArrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  top: 7%;
  left: 2%;
  width: 12%;
  height: 60%;
  /* border-style: dashed;
  border-color: black; */
}

.rowFull {
  content: "";
  display: table;
  clear: both;
  position: absolute;
  bottom: 2%;
  left: 32%;
  width: 100%;
  height: 12%;
}

/* Six columns side by side */
.column {
  float: top;
  /* height: 15%; */
  width:4vw;
  height: 3.3vw;
  /* border-style: dashed;
  border-color: black; */
}

.columnFull {
  float: left;
  /* height: 15%; */
  width:4vw;
  height: 3.3vw;
}



/* Add a transparency effect for thumnbail images */
.thumbnailImage {
  opacity: 0.6;
  /* width: 100%; */
  width:4vw;
  height: 3.3vw;
  object-fit: cover;
  padding: 0px;
}


.active,
.thumbnailImage:hover {
  opacity: 1;
}

.active {
  border-style:double;
  border-color:orangered;
}

img {
  vertical-align: middle;
  /* padding: 0px; */
}